%h1 EZ Troubleshooter Users
%h2 
  Assign 
  = @docname 
  to:

= form_for :user_id, url: save_task_file_index_path, html: {class: "nifty_form"} do |c|
  = hidden_field_tag :doc_id, @doc_id 
  - if @users
    %h4 
      = radio_button_tag(:user_id, 0, true)
      = c.label(:username, "None") 
    - @users.each do |user|
      %h4
        = radio_button_tag(:user_id, user.user_id)
        = c.label(:username, user.username) 

  = c.submit 'Assign'


