<div align = center>
<h1><%= @title %></h1>

<% unless @video_id.nil? %>
	<% link = "//player.vimeo.com/video/" +  @video_id %>
	<iframe src=<%= link %> width="600" height="400" frameborder="0"></iframe>
<% end %>

<%= form_for :text, url: file_update_path, html: {class: "nifty_form"} do |c| %>
  <%= hidden_field_tag :snippet_id, @commit.snippet_id %><br/>
  <%= c.text_area :commit_text, value: @commit.commit_text, size: "95x5" %>
  <br/>
  <br/>
  <%= c.submit "Save" %>
<% end %>
</div>
<br/>
<br/>
<h2>This commit:</h2>
<p>
	<%= @username %>
	<%= @commit.created_at %><br/>
</p>