<div align = center>
<h1><%= @title %></h1>

<% unless @video_id.nil? %>
	<% link = "//player.vimeo.com/video/" +  @video_id %>
	<iframe src=<%= link %> width="600" height="400" frameborder="0"></iframe>
<% else %>
	<%= button_to "Fetch Video for This Snippet",
			      fetch_video_file_path(@title),
			      :method => :get,
			      :class => 'btn btn-success btn-small'
  	%>
<% end %>

<%= form_for :text, url: file_update_path, html: {class: "nifty_form"} do |c| %>
  <%= hidden_field_tag :snippet_id, @commit.snippet_id %><br/>
  <%= hidden_field_tag :title, @title %><br/>
  <%= hidden_field_tag :id, @commit_id %><br/>
  <% if @commit_text.nil? %>
  	<%= c.text_area :commit_text, value: @commit.commit_text, size: "95x5" %>
  <% else %>
  	<%= c.text_area :commit_text, value: @commit_text, size: "95x5" %>
  <% end %>
  <br/>
  <br/>
  <%= c.submit "Save" %>
<% end %>
</div>
<br/>
<br/>
<h2>This commit:</h2>
<p>
	<%= @username %>
	<%= @commit.created_at %><br/>
</p>