%h1= @snippet.title
%br/
%h3 List of Commits For This Snippet
.row
  .col-lg-12
    .panel.panel-default
      / /.panel-heading
      .panel-body
        .table-responsive
          %table#requests.table.table-hover
            %thead
              %tr
                %th Commit By
                %th Time Committed
                %th Snippet Text
                %th
            %tbody
              - @commits.each do |commit|
                - user = User.find(commit.user_id)
                %tr
                  %td= user.username
                  %td= commit.created_at.to_s(:long)
                  %td
                    = button_to "Edit",
                      edit_file_path(commit),
                      :method => :get,
                      :class => 'btn btn-success btn-small'
                %tr
                  %td{:colspan => "3"}= commit.commit_text
                %tr
                  %td{:bgcolor => "#009966", :colspan => "3"}
        / /.table-responsive
      / /.panel-body
    / /.panel