<h1>List of All Snippets</h1><br />
<h2>Snippets</h2>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                  <table id="requests" class="table table-hover">
                      <thead>
                          <tr>
                              <th>Snippet Title</th>                              
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                        <% if @files %>
                          <% @files.each do |key, snippets| %>

                            <tr>
                              <td><strong><%= key %></strong></td>
                              <td>
                                <%= button_to "Compile",
                                    compile_file_path(key),
                                    :method => :get,
                                    :class => 'btn btn-success btn-small'
                                %>
                              </td>
                              <td>
                                <%= button_to "Delete",
                                    delete_file_path(key),
                                    :method => :get,
                                    :data => { confirm: 'Delete this file and all its snippets?' },
                                    :class => 'btn btn-success btn-small'
                                %>
                              </td>
                              <td>
                                <%= button_to "Fetch Videos for this File",
                                    fetch_videos_file_path(key),
                                    :method => :get,
                                    :class => 'btn btn-success btn-small'
                                %>
                              </td>
                            </tr>
                            
                            <% snippets.each do |snippet| %>
                              <tr>
                                <td><%= snippet.title %></td>
                                <td>
                                  <%= button_to "Show History",
                                                history_file_path(snippet),
                                                :method => :get,                                                
                                                :class => 'btn btn-success btn-small'
                                  %>                                  
                                </td>
                              </tr>
                            <% end %>

                          <% end %>
                        <% end %>
                      </tbody>
                  </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
 

