%h1 EZ Online Files
%br/
.row
  .col-lg-12
    .panel.panel-default
      / /.panel-heading
      .panel-body
        .table-responsive
          %table#requests.table.table-hover
            %thead
              %tr
                %th Title
                %th
            %tbody
              - unless @files.empty?
                - @files.each do |doc, snippets|
                  %tr
                    %td
                      %strong= doc.docname
                    %td
                      %button Show/Hide Details
                    %td
                      %strong Assigned to:
                      %br/
                      = @workers[doc.id]
                    %td
                      = button_to "Assign",
                        assign_file_path(doc.id),
                        :method => :get,
                        :class => 'btn btn-success btn-small'
                  - snippets.each do |snippet|
                    %tr
                      %td{:colspan => "2"}= snippet.title
                      %td{:colspan => "2"}
                        = button_to "Show History",
                          history_file_path(snippet),
                          :method => :get
                  %tr
                    %td
                      = button_to "Compile",
                        compile_file_path(doc.doc_id),
                        :method => :get,
                        :class => 'btn btn-success btn-small'
                    %td
                      = button_to "Delete",
                        delete_file_path(doc.doc_id),
                        :method => :get,
                        :data => { confirm: 'Delete this file and all its snippets?' },
                        :class => 'btn btn-success btn-small' 
                    %td
                      = button_to "Fetch Videos", 
                        fetch_videos_file_path(doc.doc_id),
                        :method => :get,
                        :class => 'btn btn-success btn-small'
                    %td
                      = link_to 'View Google Doc', doc.link
                  %tr
                    %td{:bgcolor => "#009966", :colspan => "4"}
        / /.table-responsive
      / /.panel-body
    / /.panel