
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                  <table id="show" class="table table-hover">
                      <thead>
                        <tr>
                          <th>Notifications</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= form_for :notif_id, url: delete_notifs_user_index_path, 
                                      html: {class: "nifty_form"} do |n| %>
                        	<% unless @notifs.empty? %>  
                         		<% @notifs.each do |notif| %>
                        			<tr>
                        				<td>
                        					<strong><%= notif[:username] + " " %></strong>
                        					completed<strong> "<%= notif[:docname] %>".</strong>
                        				</td>
                                <td>
                                  <%= check_box_tag 'notif_ids[]', notif[:id] %>
                                </td>
                        			</tr>
                        	 	<% end %>
                            <tr><%= n.submit 'Delete' %></tr>
                      	  <% end %>
                        <% end %>

                      </tbody>
                  </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>




