<h1 align = center>Welcome to your Dashboard!</h1><br/>
<h3>Notifications</h3>
<h5>The following is a list of Google Doc snippets that have been marked as 'Finished' by your technical writers.</h5><br/>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                  <table id="show" class="table table-hover">
                      <thead>
                        <tr>
                          <th>Notifications</th>
                          <th>Date Received</th>
                          <!--<th>Mark</th>-->
                          <th>Action</td>
                        </tr>
                      </thead>
                      <tbody>
                        <% unless @notifs.empty? %>  
                          <!--<%= form_for :notif_id, url: delete_notifs_user_index_path, 
                                      html: {class: "nifty_form"} do |n| %>-->
                             <% @notifs.each do |notif| %>
                              <tr>
                                <td>
                                  <strong><%= notif[:username] + " " %></strong>
                                  completed<strong> "<%= notif[:docname] %>".</strong>
                                </td>
                                <td>
                                  <%= notif[:date].to_s(:long) %>
                                </td>
                                <!--<td>
                                  <%= check_box_tag 'notif_ids[]', notif[:id] %>
                                </td>-->
                                <td>
                                  <% unless notif[:responded] %>
                                    <%= button_to "Respond",
                                        respond_user_path(notif[:id]),
                                        :method => :get
                                    %>
                                  <% else %>
                                    <%= button_to "Delete",
                                        delete_notif_user_path(notif[:id]),
                                        :method => :get
                                    %>
                                  <% end %>   
                                </td>
                              </tr>
                             <% end %>
                            <!--<tr>
                              <td colspan = "2"></td>
                              <td><%= n.submit 'Delete' %></td>
                            </tr>-->
                          
                          <% end %> <!-- form_for -->
                        <% end %> <!-- unless -->

                      </tbody>
                  </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>




