<h1>EZ Troubleshooter File Repository Home Page</h1>

<% if session[:user_id] %>
	<%= button_to "Logout", 
				  logout_user_index_path, 
				  method: :get %>
<% else %>
	<%= button_to "Login", 
				  { action: "login" }, 
				  form_class: "new-thing" %>
<% end %>

<%= button_to "Show Users", 
			  { action: "show" }, 
			  form_class: "new-thing" %>

<%= button_to "Show User Requests", 
			  requests_list_user_index_path,
			  method: :get %>

<%= button_to "Show Files", 
			  { action: "show",
			    controller: "file"},
			    method: :get %>


<%= button_to "Add CS 191 [2] - Project Environment",
			  fetch_file_index_path,
			  method: :get %>
