<% provide(:title, '') %>


<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Start Bootstrap</h1>
            <h3>Free Bootstrap Themes &amp; Templates</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- Example row of columns -->
    


<!-- <h1>EZ Troubleshooter File Repository Home Page</h1> -->

<% if session[:user_id] %>
	<%= button_to "Logout", 
				  logout_user_index_path, 
				  method: :get %>
<% else %>
	<%= button_to "Login", 
				  { action: "login" }, 
				  form_class: "new-thing" %>
<% end %>

<%= button_to "Show Users", 
			  { action: "show" }, 
			  form_class: "new-thing" %>

<%= button_to "Show User Requests", 
			  requests_list_user_index_path,
			  method: :get %>

<%= button_to "Show Files", 
			  { action: "show",
			    controller: "file"},
			    method: :get %>


<%= button_to "Add a file",
			  new_file_path,
			  method: :get %>
