<h1 align = center>Respond</h1><br />
<h2></h2>

<%= form_for :approved, url: send_response_user_path, html: {class: "nifty_form"} do |c| %>
  <%= hidden_field_tag :notif_id, @notif_id %><br/>

  	<h4><%= radio_button_tag(:approved, true, true) %>
      	<%= c.label(:message, "This task is complete.") %><br />
    </h4>

    <h4><%= radio_button_tag(:approved, false) %>
        <%= c.label(:message, "Some changes are still needed.") %><br /><br />
    </h4>
    
  <%= c.submit 'Send Response' %>
<% end %>