<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#top"></a>
</head>
<body>
    <div  class="container">
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper2">
            <div class="gn-scroller2">
              <ul class="gn-menu">
                <li>
                  <ul class="gn-submenu2">
                    <li><%= link_to (raw('&emsp;&nbsp;&nbsp;
                    <i class="fa fa-dashboard"></i><span>
                    &emsp;&nbsp;&nbsp;
                    Dashboard</span>')), {controller: "user", action: "index"}, id: @dashboard_sub%></li>

                    <li><%= link_to (raw('&emsp;&nbsp;&nbsp;
                    <i class="fa fa-desktop"></i><span>
                    &emsp;&nbsp;&nbsp;
                    EZ Troubleshooter site</span>')), "http://www.eztroubleshooter.com", id: @ezsite_sub%></li>

                    <li><%= link_to (raw('&emsp;&nbsp;&nbsp;
                    <i class="fa fa-question-circle"></i><span>
                    &emsp;&nbsp;&nbsp;
                    Help</span>')), {controller: "user", action: "login"}, id: @help_sub%></li>

                    <li><%= link_to (raw('&emsp;&nbsp;&nbsp;
                    <i class="fa fa-envelope"></i><span>
                    &emsp;&nbsp;&nbsp;
                    Contact</span>')), {controller: "user", action: "contact"}, id: @contact_sub%></li>

                    <li><%= link_to (raw('&emsp;&nbsp;&nbsp;
                    <i class="fa fa-sign-out"></i><span>
                    &emsp;&nbsp;&nbsp;
                    Log Out</span>')), {controller: "user", action: "logout"}, id: @logout_sub%></li>

                  </ul>
                </li>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><%= link_to "EZ ONLINE".html_safe, {controller: "user", action: "home"}, id: @home, class: "mainmenu" %></li>
        <li><%= link_to "<span>Log Out</span>".html_safe, {controller: "user", action: "logout"}, id: @logout, class: "mainmenu2" %></li>
        <li><div class = "name"><span><%= @name %></span></div></li>
      </ul>
    </div><!-- /container -->

    <%= javascript_include_tag('classie.js') %>
    <%= javascript_include_tag('gnmenu2.js') %>

    <script>
      new gnMenu2( document.getElementById( 'gn-menu' ) );
    </script>

  <div class = "display2">
    <br/><br/><br/><br/>    <%= yield %>
  </div>
  <br><br>


<div class = "footer2">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <a class="smoothScroll" href="#top">Back to top</a>
      <hr class="small">
      <p class="text-muted">Copyright &copy; <%= site_name %> <%= Time.now.year %></p>
      <br/><br/><br/>
    </div>
</div>

</body>

</html>
