<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "btn.custom" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to site_name, site_url, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">

          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <% if session[:user_id] %>

            <li class="<%= 'active' if current_page?({ action: "login", controller: "user"}) %>"><%= link_to "Login", { action: "login", controller: "user"}%></li>
          <% else %>
            <li class="<%= 'active' if current_page?({ action: "logout", controller: "user"}) %>"><%= link_to "Logout", { action: "logout", controller: "user"}%></li>
          <% end %>
          
          <li class="<%= 'active' if current_page?({ action: "show", controller: "user"}) %>"><%= link_to "Contact", { action: "show", controller: "user"}%></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->



  <% if current_page?(root_path) %>
    <% if content_for?(:jumbotron) %>
      <div class="jumbotron">
        <div class="container">
          <%= yield :jumbotron %>
        </div>
      </div>
    <% end %>
  <% else %>
   <br/><br/><br/>
    <div class="container">
  <% end %>
  <%= yield %>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="col-md-6 text-center">
                        <h4><strong>EZ Troubleshooter</strong>
                        </h4>
                        <p>ITS OK LLC<br>Orlando, Florida, USA</p>
                        <ul class="list-unstyled">
                            <!-- <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li> -->
                            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@eztroubleshooter.com">info@eztroubleshooter.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4><strong>EZOnline</strong>
                        </h4>
                        <p>University of the Philippines Diliman<br>Quezon City, Philippines</p>
                        <ul class="list-unstyled">
                            <!-- <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li> -->
                            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:ezonline.dev@gmail.com">ezonline.dev@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; <%= site_name %> <%= Time.now.year %></p>
                </div>
            </div>
        </div>
    </footer>

  </div> <!-- /container -->
</body>
</html>